# Get an aprs.fi API key at: http://aprs.fi/page/api
APRS_FI_API_KEY="blah"
# Get a Dark Sky API key at: https://developer.darkskyapp.com/
DARKSKY_API_KEY="blah"
# An iterable of callsigns to monitor
MONITOR_CALLSIGN=["NOCALL-15"]
# Position to use for "home base"
HOME_LAT=41.9481
HOME_LNG=-87.6564
